<header>
    <div class="name"><a href="#">Alexander Riedel</a></div>
    <div class="burger-menu" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav [class.active]="menuOpen">
        <a href="#about-me" [class.active]="activeSection === 'about-me'" (click)="setActiveSection('about-me')">About me</a>
        <a href="#skills" [class.active]="activeSection === 'skills'" (click)="setActiveSection('skills')">Skills</a>
        <a href="#portfolio" [class.active]="activeSection === 'portfolio'" (click)="setActiveSection('portfolio')">Portfolio</a>
    </nav>
</header>