header {
    height: 110px;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #141D2FDD;
    backdrop-filter: blur(5px);

    .burger-menu {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        height: 24px;
        cursor: pointer;

        span {
            display: block;
            width: 30px;
            height: 3px;
            background-color: #FFFFFF;
        }
    }

    nav {
        gap: 29px;
        display: flex;
        font-size: 24px;

        a {
            color: #FFFFFF;
            text-decoration: none;

            &:hover {
                color: #70E61C;
            }

            &:active {
                color: #70E61C;
            }
        }

        &.active {
            display: flex;
            flex-direction: column;
            background-color: #141D2FDD;

            a {
                padding: 10px 20px;
                text-align: center;
            }
        }
    }

    .name a {
        font-size: 20px;
        color: #FFFFFF;
        text-decoration: none;
    }
}