header {
    height: 110px;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #141D2FDD;
    backdrop-filter: blur(5px);

    nav {
        gap: 29px;
        display: flex;
        font-size: 24px;

        a {
            color: #FFFFFF;
            text-decoration: none;

            &.active {
                color: #70E61C !important;
            }

            &:hover {
                color: #70E61C;
            }
        }
    }
}

.name {
    a {
        font-size: 20px;
        color: #FFFFFF;
        text-decoration: none;
    }

}