@media screen and (max-width:1400px) {}

@media screen and (max-width:1200px) {

    body.menu-open {
        overflow: hidden;
    }

    header {
        padding: 0 20px;

        .burger-menu {
            display: flex;
        }

        nav {
            display: none;
        }
    }

    nav.active {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 110px;
        right: 0;
        bottom: 0;
        left: 0;
        min-height: calc(100dvh - 110px);
        animation: slideDown 0.3s ease-out;
        overflow: hidden;
    }

    @keyframes slideDown {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

}

@media screen and (max-width:992px) {}

@media screen and (max-width:768px) {}

@media screen and (max-width:576px) {}