<footer>
    <div class="footer-container">
        <div class="footer-left">
            <div class="footer-name"><a href="#">ALE<span>X</span>ANDER</a></div>
            <div class="legal-notice">{{ 'legal-notice' | translate }}</div>
        </div>
        <div class="footer-middle">&#169; Alexander Riedel 2024</div>
        <div class="footer-right">
            <a href="https://github.com/Alexander-Riedel"><img src="assets/img/github.svg" alt=""></a>
            <a href="#contact"><img src="assets/img/email.svg" alt=""></a>
            <a href="https://www.linkedin.com/in/-alexanderriedel-/"><img src="assets/img/linkedin.svg" alt=""></a>
        </div>
        <div class="legal-notice-responsive">{{ 'legal-notice' | translate }}</div>
    </div>
</footer>