@media screen and (max-width:1400px) {
    .about-me-container {
        padding: 0 64px;
        gap: 64px;
    }

    .about-me-text {
        gap: 24px;
    }

    .about-me-text-top {
        gap: 24px;
    }
}

@media screen and (max-width:1200px) {
    .about-me-container {
        padding: 0 40px;
        gap: 40px;
    }
}

@media screen and (max-width:992px) {
    #about-me {
        margin-top: 120px;
        min-height: unset;
        scroll-margin-top: 80px;
    }

    .about-me-container {
        padding: 0 32px;
        flex-direction: column-reverse;
        gap: 128px;
    }

    .about-me-text {
        width: unset;
        gap: 48px;
    }

    .about-me-text-top {
        gap: 48px;
    }

    .about-me-highlight-container {
        gap: 36px;
    }
}

@media screen and (max-width:768px) {}

@media screen and (max-width:576px) {}

@media screen and (max-width:468px) {
    .about-me-container {
        padding: 0 16px;
        gap: 64px;
    }

    .about-me-highlight {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    
        img {
            height: 50px;
            width: 50px;
            transition: all 0.3s ease;
    
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}