.about-me {
    position: relative;
}

.about-me-background {
    position: absolute;
    top: 25vh;
    left: 0;
    right: 0;
    z-index: -1;
}

.about-me-container {
    padding: 0 100px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    gap: 128px;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 36px;
}

.about-me-text-top {
    display: flex;
    flex-direction: column;
}

.about-me-highlight-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-me-highlight {
    display: flex;
    align-items: center;
    gap: 16px;

    img {
        height: 50px;
        width: 50px;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.2);
        }
    }
}






.about-me-background {
    width: 100%;
}