<section id="about-me">
    <div class="about-me">
        <div class="about-me-container">
            <div class="about-me-text" data-aos="fade-right">
                <div class="about-me-text-top">
                    <h2>{{ 'about-me' | translate }}</h2>
                    <span>{{ 'hey-there' | translate }}</span>
                    <span>{{ 'lets-connect' | translate }}</span>
                </div>
                <div class="about-me-highlight-container">
                    <div class="about-me-highlight">
                        <img src="assets/img/about-me/location.svg" alt="">
                        <span>{{ 'location' | translate }}</span>
                    </div>
                    <div class="about-me-highlight">
                        <img src="assets/img/about-me/bulb.svg" alt="">
                        <span>{{ 'bulb' | translate }}</span>
                    </div>
                    <div class="about-me-highlight">
                        <img src="assets/img/about-me/puzzle.svg" alt="">
                        <span>{{ 'puzzle' | translate }}</span>
                    </div>
                </div>
            </div>
            <div class="about-me-picture" data-aos="fade-left">
                <img src="" alt="">
                <div class="about-me-shadows">
                    <img src="assets/img/green-purple-shadow-1.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <img class="about-me-background" src="assets/img/about-me/background.svg" alt="" />
</section>