<section id="skills">
    <div class="skills-container">
        <div class="looking-for-responsive">
            <h3>
                {{ 'looking-for' | translate }} <span>{{ 'another-skill' | translate }}</span>?
            </h3>
            <div class="skills-text">{{ 'feel-free-to-contact' | translate }}</div>
            <a href="#contact"><button>{{ 'get-in-touch' | translate }}</button></a>
        </div>
        <div class="skills-img-container">
            <div class="skill">
                <img src="assets/img/skills/html.svg" alt="">
                <span>HTML</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills/css.svg" alt="">
                <span>CSS</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills/javascript.svg" alt="">
                <span>JavaScript</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills/typescript.svg" alt="">
                <span>TypeScript</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills/angular.svg" alt="">
                <span>Angular</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills/firebase.svg" alt="">
                <span>Firebase</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills/materialdesign.svg" alt="">
                <span>Material Design</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills/wordpress.svg" alt="">
                <span>WordPress</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills/discord-mark-white.svg" alt="">
                <span>Discord</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills/git.svg" alt="">
                <span>GIT</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills/api.svg" alt="">
                <span>REST-Api</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills/scrum.svg" alt="">
                <span>Scrum</span>
            </div>
        </div>
        <div class="skills-text-container">
            <div class="skills-headline">
                <h2>{{ 'skills' | translate }}</h2>
                <div class="skills-headline-line"></div>
            </div>
            <div class="skills-text">{{ 'my-journey' | translate }}</div>
            <div class="looking-for">
                <h3>{{ 'looking-for' | translate }} {{ 'another-skill' | translate }}?</h3>
                <div class="skills-text">{{ 'feel-free-to-contact' | translate }}</div>
            </div>
            <a href="#contact"><button>{{ 'get-in-touch' | translate }}</button></a>
        </div>
    </div>
</section>