<div class="skills-container" id="skills">
    <div class="skills-img-container">
        <div class="skill">
            <img src="assets/img/skills/html.svg" alt="">
            <span>HTML</span>
        </div>
        <div class="skill">
            <img src="assets/img/skills/css.svg" alt="">
            <span>CSS</span>
        </div>
        <div class="skill">
            <img src="assets/img/skills/javascript.svg" alt="">
            <span>JavaScript</span>
        </div>
        <div class="skill">
            <img src="assets/img/skills/typescript.svg" alt="">
            <span>TypeScript</span>
        </div>
        <div class="skill">
            <img src="assets/img/skills/angular.svg" alt="">
            <span>Angular</span>
        </div>
        <div class="skill">
            <img src="assets/img/skills/firebase.svg" alt="">
            <span>Firebase</span>
        </div>
        <div class="skill">
            <img src="assets/img/skills/materialdesign.svg" alt="">
            <span>Material Design</span>
        </div>
        <div class="skill">
            <img src="assets/img/skills/wordpress.svg" alt="">
            <span>WordPress</span>
        </div>
        <div class="skill">
            <img src="assets/img/skills/discord-mark-white.svg" alt="">
            <span>Discord</span>
        </div>
        <div class="skill">
            <img src="assets/img/skills/git.svg" alt="">
            <span>GIT</span>
        </div>
        <div class="skill">
            <img src="assets/img/skills/api.svg" alt="">
            <span>REST-Api</span>
        </div>
        <div class="skill">
            <img src="assets/img/skills/scrum.svg" alt="">
            <span>Scrum</span>
        </div>
    </div>
    <div class="skills-text-container">
        <div class="skills-headline">
            <h2>Skills</h2>
            <div class="skills-headline-line"></div>
        </div>
        <div class="skills-text">
            My journey has involved working on diverse projects, employing a range of frontend technologies and
            concepts. I am open to embracing new technologies and methodologies to Continously enhance my skills and
            stay ahead in the ever-evolving landscape of web development.</div>
        <div class="looking-for">
            <h3>Looking for another skill?</h3>
            <div class="skills-text">
                Feel free to contact me. I look forward to expanding on my previous knowledge.
            </div>
        </div>
        <a href="#contact"><button>Get in touch</button></a>
    </div>
</div>