@media screen and (max-width:1400px) {
    .portfolio-headline {
        gap: 16px;
    }

    .portfolio-headline-line {
        width: 40px;
    }

    .portfolio-headline-text {
        margin: 0 64px;
    }

    .portfolio-project-container {
        margin: 48px 64px 0 64px;
        gap: 40px;
    }
}

@media screen and (max-width:1200px) {
    .portfolio-headline-text {
        margin: 32px 40px 0 40px;
    }

    .portfolio-headline-line {
        width: 20px;
    }

    .portfolio-project-container {
        gap: 32px;
    }

    .portfolio-project {
        height: 400px;
        width: 400px;
    }

    .portfolio-project-btns {
        gap: 36px;
    }

    .portfolio-project-text {
        gap: 16px;
    }

    .portfolio-project-description {
        font-size: 20px;
        line-height: 24px;
    }

    .portfolio-project-skills {
        font-size: 20px;
        line-height: 24px;
    }
}

@media screen and (max-width:992px) {
    .portfolio-headline {
        gap: 8px;
    }

    .portfolio-headline-text {
        margin: 32px 32px 0 32px;
    }

    .portfolio-headline-line {
        width: 20px;
    }

    .portfolio-project-container {
        margin: 48px 32px 0 32px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .portfolio-project {
        height: 550px;
        width: 550px;
    }
}

@media screen and (max-width:768px) {
    img {
        max-width: 100%;
    }

    .portfolio-project {
        height: 420px;
        width: 420px;
    }
}

@media screen and (max-width:576px) {
    .portfolio-project {
        height: 320px;
        width: 320px;
    }

    .portfolio-project-btns {
        gap: 33px;
    }

    .protfolio-github-btn {
        width: 114px;
        height: 49px;
        font-size: 16px;
    }

    .protfolio-livetest-btn {
        width: 124px;
        height: 49px;
        font-size: 16px;
    }

    .portfolio-project-text {
        gap: 16px;

        h3 {
            font-size: 28px;
        }
    }
}

@media screen and (max-width:468px) {
    .portfolio-headline {
        gap: 4px;
    }

    .portfolio-headline-text {
        margin: 32px 20px 0 20px;
    }

    .portfolio-headline-line {
        width: 14px;
    }

    .portfolio-project-container {
        margin: 48px 20px 0 20px;
    }

    .portfolio-project {
        height: 240px;
        width: 240px;
    }

    .portfolio-project-btns {
        gap: 16px;
    }

    .protfolio-github-btn {
        width: 90px;
        height: 45px;
        font-size: 16px;
    }

    .protfolio-livetest-btn {
        width: 108px;
        height: 45px;
        font-size: 16px;
    }

    .portfolio-project-text {    
            gap: 8px;

        h3 {
            font-size: 24px;
        }
    }

    .portfolio-project-description {
        font-size: 16px;
        line-height: 20px;
    }

    .portfolio-project-skills {
        font-size: 14px;
        line-height: 20px;
    }
}