.portfolio-container {
    margin-top: 200px;
    scroll-margin-top: 110px;
    min-height: calc(100vh - 110px);
    position: relative;
}

.portfolio-headline {
    display: flex;
    align-items: center;
    gap: 32px;
}

.portfolio-headline-line {
    width: calc(150px - 32px - 8px);
    height: 1px;
    background-color: #9747FF;
    border: 2px solid #9747FF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.portfolio-headline-text {
    margin: 0 150px;
}

.portfolio-project-container {
    margin: 64px 150px 0 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

.portfolio-project {
    height: 500px;
    width: 500px;
    aspect-ratio: 1 / 1;
    border: 2px solid #70E61C;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.portfolio-project-hover {
    height: 100%;
    width: 100%;
}

.portfolio-project-btns {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 86px;
}

.protfolio-github-btn {
    width: 137px;
    height: 58px;
    border: 1px solid #1CDAE6;
    border-radius: 8px;
    background-color: unset;
    font-size: 24px;

    &:hover {
        background: #1CDAE6;
    }

    &:active {
        border: 1px solid #FFFFFF;
        background: #FFFFFF;
        color: #000000;
    }
}

.protfolio-livetest-btn {
    width: 137px;
    height: 58px;
    border: 1px solid #9747FF;
    background: #9747FF;
    border-radius: 8px;
    font-size: 24px;

    &:hover {
        border: 1px solid #70E61C;
        background-color: #70E61C;
    }

    &:active {
        border: 1px solid #FFFFFF;
        background: #FFFFFF;
        color: #000000;
    }
}

.portfolio-project-text {
    width: 100%;
    height: 60%;
    background-color: #FFFFFF;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;

    h3 {
        color: #9747FF;
    }
}

.portfolio-project-description {
    color: #000000;
    font-size: 24px;
    line-height: 28px;
}

.portfolio-project-skills {
    color: #70E61C;
    font-size: 24px;
    line-height: 28px;
}

.portfolio-project-text {
    height: 60%;
    display: flex;
    flex-direction: column;
}

.portfolio-project .portfolio-project-text {
    animation: slideToBottom 0.3s ease forwards;
}

.portfolio-project:hover .portfolio-project-text {
    animation: slideFromBottom 0.3s ease forwards;
}

.portfolio-project .portfolio-project-btns {
    animation: slideToTop 0.3s ease forwards;
}

.portfolio-project:hover .portfolio-project-btns {
    animation: slideFromTop 0.3s ease forwards;
}

.fad-in {
    animation: fadeIn 0.75s ease forwards;
}

@keyframes slideFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideToTop {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideToBottom {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}