<div class="legal-notice-container">
    <h1>{{ 'legal-notice.title' | translate }}</h1>
    <p>Alexander Riedel<br />
        {{ 'legal-notice.address' | translate }}<br />
        {{ 'legal-notice.city' | translate }}</p>
    <h2>{{ 'contact' | translate }}</h2>
    <p>{{ 'legal-notice.phone' | translate }}: &#91;Telefonnummer&#93;<br />
        E-Mail: contact&#64;alexanderriedel.de</p>
    <p>Quelle:
        <a href="https://www.e-recht24.de/impressum-generator.html" target="_blank">
            https://www.e-recht24.de/impressum-generator.html
        </a>
    </p>
</div>