<img class="landing-page-purple-shadow" src="assets/img/purple-shadow-1.svg" alt="" />
<img class="landing-page-blue-shadow" src="assets/img/blue-shadow-1.svg" alt="" />
<div class="landing-page-container">
    <div class="landing-page-headline-container">
        <div class="landing-page-iam">I am</div>
        <div class="landing-page-name-container">
            <h1 class="landing-page-name">Alexander Riedel</h1>
            <span class="landing-page-slogan">FRONTEND DEVELOPER</span>
        </div>
    </div>
    <a href="#contact"><button>Let's talk!</button></a>
    <div class="landing-page-bottom">
        <div class="landing-page-btns">
            <div class="green-line"></div>
            <a href="https://github.com/Alexander-Riedel"><img src="assets/img/github.svg" alt=""></a>
            <a href="#"><img src="assets/img/email.svg" alt=""></a>
            <a href="https://www.linkedin.com/in/-alexanderriedel-/"><img src="assets/img/linkedin.svg" alt=""></a>
        </div>
        <div class="landing-page-scrolldown"><a href="#about-me">Scroll down &#10132;</a></div>
    </div>
</div>