@media screen and (max-width:1400px) {
    h1 {
        text-shadow: #000000 0px 0px 16px;
    }

    .landing-page-iam {
        font-size: 72px;
        text-shadow: #000000 0px 0px 16px;
    }

    .landing-page-slogan {
        font-size: 60px;
        line-height: 68px;
        text-shadow: #000000 0px 0px 16px;
    }

    .landing-page-scrolldown {
        display: none;
    }
}

@media screen and (max-width:1200px) {
    .landing-page-iam {
        font-size: 60px;
    }

    .landing-page-slogan {
        font-size: 52px;
        line-height: 60px;
    }
}

@media screen and (max-width:992px) {
    .landing-page-iam {
        font-size: 48px;
    }

    .landing-page-slogan {
        font-size: 44px;
        line-height: 48px;
    }
}

@media screen and (max-width:768px) {
    img {
        max-width: 100%;
    }

    .landing-page-iam {
        font-size: 36px;
    }

    .landing-page-slogan {
        font-size: 38px;
        line-height: 40px;
    }
}

@media screen and (max-width:576px) {
    .landing-page-iam {
        font-size: 30px;
    }

    .landing-page-slogan {
        font-size: 28px;
        line-height: 32px;
    }
}

@media screen and (max-width:468px) {
    .landing-page-iam {
        font-size: 22px;
    }

    .landing-page-slogan {
        font-size: 20px;
        line-height: 24px;
    }
}