<div class="reviews-container">
    <img class="review-quote-symbol" src="" alt="">
    <div class="review-container">
        <div class="review-box">
            <div class="review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem culpa, dolore eum
                explicabo, ab officia eveniet odio sapiente vel, corporis laborum debitis nostrum nisi. Adipisci tempore
                asperiores eligendi! Ipsum, similique.</div>
            <div class="review-author">
                <div class="review-author-line"></div>
                <div class="review-author-name">V. Schuster - Team Partner</div>
            </div>
        </div>
        <div class="review-picture-box">
            <div class="review-picture"></div>
            <div class="review-picture-line"></div>
        </div>
    </div>
    <div class="review-navigation"></div>
</div>